/vendor/
node_modules/
npm-debug.log
yarn-error.log

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/public/build
/public/tests
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json
composer.lock
phpunit.xml

/.fleet
/.idea
/.nova
/.vscode
/.zed
/.osp
